/* * {
    border: 1px solid red;
} */

/* The hero image */
.hero-image {
    background-image: url("static/1-landing-spnningball-banner.jpg");
  
    /* Set a specific height */
    height: 400px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  